.login-background{
    background: linear-gradient(white, 90%, white);
    width: 100%;
    height: 100vh;
    display: grid;
}

.header-login{
    width: 100%;
    height:auto;
}

.login-title{
    font-family: "PoppinsLight";
    font-size: 3cm;
    color: black;
    margin: 0px 0px 20px 0;
}

.ahold-logo-login{
    width: auto;
    height: 6ch;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}