.profile-background{
    background: linear-gradient(rgb(28, 28, 28), 10%, rgb(91, 91, 91));
    width: 100%;
}

.logout{
    position: absolute;
    display: flex;
    height:fit-content;
    justify-content: end;
    width: 100%;
    z-index: 1;
}